@model decimal
    

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 text-center mx-auto shadow">
        <div class="card-header">
            Your Monthly Quote
        </div>
        <div class="card-body">
            <h5 class="card-title">$@Model</h5>
        </div>
    </div>
</div>