@using InsuranceQuote.Models
@model InsuranceQuoteEntities
    


<h2>Your Auto Insurance Quote</h2>

<table class="table">
    <tbody>
        @foreach (var item in Model.Quotes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalQuote)
                </td>
            </tr>

        }
    </tbody>
</table>